body
{
    background-color : White;
}

.leftBlock
{
    border-style : solid;
    width:100%;
    height:90%;
    
    margin:auto;
}

.rightBlock
{
    border-style : solid;
    width:100%;
   
    margin:auto;
    
    
    
}
.heading
{
    font-size: 30px;
    font-family : "Times New Roman", Times, serif;
    color : black;
    text-align : center;
    padding: 55px ;
}

.main
{
    
    background-color : LightGray;
    height : 150px;
       
}

.sub
{
    font-size: 20px;
    font-family : "Times New Roman", Times, serif;
    color : black;
    text-align : center;
    }

.button 
{
   
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 18px;
    text-align: center;    
    display: inline-block;
    font-size: 15px;
    margin: 2px 1px;
    cursor: pointer;
}
.text {
    background-color: white;
    border-style: solid;
    padding: 3px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 1px;
    cursor: pointer;
}
.warning
{
    font-size: 20px;
    font-family : "Times New Roman", Times, serif;
    color : red;
    text-align : center;
}

.success
{
    font-size: 20px;
    font-family : "Times New Roman", Times, serif;
    color : green;
    text-align : center;
}